.header {
  margin: 92px 51px 92px 49px;
  display: grid;
    /*Лого в макете находится не поцентру страницы
    иного способа расположить контейнеры не придумал. 
    возможно есть способ проще, но этот тоже работает*/
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-rows: 1fr;
}

.header__menu {
  font-size: 18px;
  font-weight: 400;
  display: flex; 
  align-items: center;
}

.header__links-list{
  display: flex;
}

.header__links-list-item {
  list-style-type: circle;
  margin: 16px;
  min-width: 150px;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
  margin: 16px 16px 0 0;;
}

.header__logo {
  width: 148px;
  height: 105px;
  margin: 0 auto 4px auto;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.header__address_container {
  display: flex;
  justify-content: end;
}

.header__address {
  width: 240px;
  margin-top: 5px;
  margin-bottom: 7px;
  font-size: 18px;
  font-weight: 400;
  line-height: 135%; 
  font-style: normal;
  }

.cover {
  background-image: url('../images/cover.jpg');
  background-size: cover;
  background-position: center;
  margin-bottom: 180px;
  width: 100%;
  margin: auto;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.6);
}

.title {
  padding-top: 165px;
  margin: 0 50px 125px 50px;
}

.cover__title {
  color: #FFF;
  font-size: 100px;
  font-weight: 700;
  text-transform: uppercase;
}

.cover__title.first-line_fist-part {
  line-height: 115%;
  letter-spacing: 30px;
}

.cover__title.first-line_second-part {
  letter-spacing: 60px;
}

.cover__title.second-line_fist-part {
  display: block;
  text-align: center;
  letter-spacing: 30px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.cover__title.second-line_second-part {
  letter-spacing: 60px;
}

.cover__title.third-line_fist-part {
  display: block;
  text-align: right;
  letter-spacing: 60px;
}

.cover__title.third-line_second-part {
  letter-spacing: 30px;
}

.cover__title.third-line_third-part {
  letter-spacing: 0;
}

/*.cover__bottom-container {
  margin-right: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: end;
  align-items: center;
}*/

.cover__description {
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-areas: 
    "cover__description-text bet-button";
}

.bet-button {
  border: 1px solid rgb(255, 255, 255); 
  padding: 12px 32px; 
  word-spacing: 0;
  background: transparent;
  color: #FFF;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  grid-area: bet-button;
  margin-bottom: 50px;
  width: 257px;
  height: 52px;
  place-self: center;
}

.cover__description-text {
  color: #FFF;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  grid-area: cover__description-text;
  margin: 12px 25px 0 0;
  text-align: right;
  word-spacing: 18px;
}

.lots {
  margin: 180px 50px 0 50px;
}

.lots__heading {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 40px;
  margin-bottom: 27px;
}

.lots__card-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.lots__card-list-item{
  width: 430px;
  height: 450px;
  margin-bottom: 30px;  
}

.card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}

.card__title {
  color: #FFF;
  font-size: 22px;
  line-height: 120%; 
  text-decoration-line: underline;
  text-underline-offset: 2px;
  text-transform: uppercase;
  padding: 50px 40px 0 40px;
}

.card__text{
  color: #FFF;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%; 
  padding: 0 40px 50px 40px;
}

.card__container.card_type_film {
  background-image: url('../images/card-lot-01.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100%;
}

.card__container.card_type_book {
  background-image: url('../images/card-lot-02.jpg');
  background-position: center;
  background-size: 100%;
  height: 100%;
}

.card__container.card_type_picture {
  background-image: url('../images/card-lot-03.jpg');
  background-position: center;
  background-size: 100%;
  height: 100%;
}

.lots__look-more-link {
  margin: 0 0 2px 40px;
  color: #000;
  font-size: 20px;
  font-weight: 400;
}

.about {
  margin: 183px 50px 0px 50px; 
  display: grid;
  grid-gap: 0 25px;
  grid-template-columns: 430px 1fr;
  grid-template-rows: 240px 1fr; 
  grid-template-areas: 
    "about__logo about__title"
    ". about__text";
  
}

.about__logo {
  background-color: rgb(0, 0, 0);
  margin: 0 95px;
  width: 240px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: about__logo;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title { 
  font-size: 40px;
  text-transform: uppercase;
  grid-area: about__title;
  margin: auto 0 auto 0;
}

.about__text{ 
  font-size: 20px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 25px;
  grid-area: about__text;
  margin-top: 8px ;
}

.footer {
  height: 97px;
  margin: 185px 50px 90px 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer__menu {
  font-size: 18px;
  font-weight: 400; 
}

.footer__address {
  width: 240px;
  height: 97px;
  margin-bottom: 7px;
  font-size: 18px;
  font-weight: 400;
  line-height: 135%; 
  font-style: normal;
  }

.footer__links-list-item {
  list-style-type: none;
  text-align: center;
}

.footer__links-list-item_no-bullit {
  cursor: pointer;
}

.footer__social-list {
  width: 240px;
  height: 48px;
  display: flex;
  justify-content: space-between;
}

.footer__social-list-item{
  width: 48px;
  list-style-type: none;
}
